body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: white;
}

.logo span {
  color: red;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.login-btn {
  background: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

/* Hero */
.hero {
  text-align: center;
  padding: 60px 20px;
}

.hero h1 {
  font-size: 40px;
}

.hero span {
  color: red;
}

.hero p {
  color: gray;
  margin: 20px 0;
}

.icons {
  font-size: 30px;
  margin-bottom: 20px;
}

/* Search */
.search-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.search-box input {
  padding: 10px;
  width: 250px;
  border: 1px solid #ccc;
}

.search-box button {
  background: red;
  color: white;
  border: none;
  padding: 10px 20px;
}

/* Listings */
.listings {
  text-align: center;
  margin-top: 50px;
}

.card {
  background: white;
  padding: 20px;
  margin: 20px auto;
  width: 400px;
  border-radius: 10px;
  text-align: left;
}

.details-btn {
  background: red;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
}